@{
    ViewBag.Title = "Home Page";
}
<div>
    <table class="auto-style1 table_cls">
        <tr>
            <td id="dnata" colspan="2" title="dnata" style="padding-top:20px; padding-bottom:20px;">

                <img src="images/iqd-logo.png" width="200" />
            </td>
        </tr>
        <tr>
            <td class="auto-style2">
                @*<asp:Label ID="Label2" runat="server" Text="Login ID"></asp:Label>*@
                @Html.Label("Label2", "Login ID", "")
                
            </td>
            <td class="input_fld">
                @*<asp:TextBox ID="txtUserId" runat="server" CssClass="txt" placeholder=" Enter Username"></asp:TextBox>*@
                @Html.TextBox("txtUserId", "", new { @class = "txt" })
            </td>
        </tr>
        <tr>
            <td class="auto-style2">
                @*<asp:Label ID="Label3" runat="server" Text="Password"></asp:Label>*@
                @Html.Label("Label3", "Login ID", "")
            </td>
            <td class="input_fld">
                @*<asp:TextBox ID="txtPassword" runat="server" TextMode="Password" CssClass="txt" placeholder=" Enter password">></asp:TextBox>*@
                @Html.TextBox("txtPassword", "", new { @class = "txt" })
            </td>
        </tr>
        <tr>
            <!--  <td style="text-align: center">
                  <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Cancel" />-->
            </td> -->
            <td colspan="2" style="padding-left:10px; text-align: center">
                <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Login" CssClass="btn" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">
                <asp:HyperLink ID="HyperLink1" runat="server" href="ForgetPassword.aspx" style="text-align: center">Forgot Password?</asp:HyperLink>
            </td>
        </tr>
    </table>
</div>